{:aliases

 {:nrepl
  {:extra-deps {org.clojure/clojure {:mvn/version "1.10.0"}
                org.clojure/clojurescript {:mvn/version "1.10.520"}
                ; org.clojure/tools.nrepl {:mvn/version "0.2.13"}
                nrepl/nrepl {:mvn/version "0.6.0"}
                cider/cider-nrepl {:mvn/version "0.21.0"}
                cider/piggieback {:mvn/version "0.4.0"}}}
  :rebel
  {:extra-deps {com.bhauman/rebel-readline {:mvn/version "0.1.4"}}
   :main-opts ["-m" "rebel-readline.main"]}}}

