{:aliases

 {:cljs
  {:extra-deps {org.clojure/clojurescript {:mvn/version "1.10.520"}}}

  :nrepl-server
  {:extra-deps #_{org.clojure/tools.nrepl {:mvn/version "0.2.12"}
                  cider/cider-nrepl {:mvn/version "0.16.0"}}
   {nrepl/nrepl {:mvn/version "0.6.0"}
    cider/cider-nrepl {:mvn/version "0.21.1"}
    cider/piggieback {:mvn/version "0.4.0"}}}

  :rebel
  {:extra-deps {com.bhauman/rebel-readline {:mvn/version "0.1.4"}}
   :main-opts ["-m" "rebel-readline.main"]}}}

